In [1]:
# Dependencies
import csv
import matplotlib.pyplot as plt
import requests
import pandas as pd

In [2]:
data_df = pd.read_csv("NationalData.csv")
data_df = data_df.drop('Unnamed: 2', axis=1)
data_df = data_df.dropna()
data_df.tail()

,Name,Year,Average amount of student loans received by full-time freshmen who borrowed,Full-time freshmen who received any student loans (#),% of full-time freshmen who received any student loans,Per capita amount received in student loans by full-time freshmen,Average debt of graduates,Percent of graduates with debt,Per capita debt of graduates,Average debt of graduates in federal loans,Percent of graduates borrowing federal loans,"Federal debt of graduates, as percent of total debt","Nonfederal debt of graduates, as percent of total debt",Average percentage of need met of full-time undergraduates
6,"Nation - Public, 4-year or above",2011-12,6336.0,555156.0,0.53,3358.0,24477.0,0.58,14222.0,21200.0,0.57,0.85,0.15,0.66
7,"Nation - Public, 4-year or above",2010-11,6128.0,533227.0,0.52,3187.0,23096.0,0.57,13245.0,20014.0,0.56,0.85,0.15,0.67
8,"Nation - Public, 4-year or above",2009-10,6070.0,509731.0,0.50,3035.0,21604.0,0.56,12049.0,18290.0,0.55,0.83,0.17,0.69
9,"Nation - Public, 4-year or above",2008-09,6045.0,467676.0,0.47,2841.0,20458.0,0.56,11385.0,17157.0,0.54,0.82,0.18,0.70
10,"Nation - Public, 4-year or above",2007-08,5182.0,438247.0,0.45,2332.0,19082.0,0.55,10487.0,16316.0,0.53,0.83,0.17,0.70

# Data for 4 states: Minnesota,Washington, California, Massachusetts

In [ ]:
data1_df = pd.read_csv("4statesData.csv")
data1_df = data1_df.dropna()
data1_df.head()

# Data for Minnesota

In [ ]:
data3_df = pd.read_csv("MinnesotaData.csv")
data3_df = data3_df.dropna()
data3_df.head()

# Federal Student Loan Portfolio by Borrower Age.csv

In [4]:
data4_df = pd.read_csv("Portfolio-by-Age-Debt-Size (1).csv") 
data4_df.head()

data4_df.rename(columns = {'24 or Younger':'24 or Younger Dollars Outstanding (in billions)',
                              '24 - Younger':'24 or Younger Barrowers(#)(in millions)',
                              '25 to 34' : '25 to 34 Dollars Outstanding(in billions)',
                              '25 - 34' : '25 to 34 Younger Barrowers(#)(in millions)',
                              '35 to 49' : '35 to 49 Dollars Outstanding(in billions)',
                              '35 - 49' : '35 to 49 Younger Barrowers(#)(in millions)',
                              '50 to 61' : '50 to 61 Dollars Outstanding(in billions)',
                              '50 -61' : '50 to 61 Younger Barrowers(#)(in millions)',
                              '62 and Older' : '62+ Dollars Outstanding(in billions)',
                              '62 - Older' : '62+ Younger Barrowers(#)(in millions)'
                              }, inplace = True)

data4_df = data4_df.drop(data4_df.index[0])
data4_df.tail()

,,24 or Younger Dollars Outstanding (in billions),24 or Younger Barrowers(#)(in millions),25 to 34 Dollars Outstanding(in billions),25 to 34 Younger Barrowers(#)(in millions),35 to 49 Dollars Outstanding(in billions),35 to 49 Younger Barrowers(#)(in millions),50 to 61 Dollars Outstanding(in billions),50 to 61 Younger Barrowers(#)(in millions),62+ Dollars Outstanding(in billions),62+ Younger Barrowers(#)(in millions)
5,40K to 60K,$10.07,0.21,$75.03,1.54,$79.68,1.62,$29.36,0.60,$8.72,0.18
6,60K to 80K,$3.97,0.06,$56.47,0.82,$76.85,1.11,$27.99,0.40,$7.92,0.11
7,80K to 100K,$2.32,0.03,$30.82,0.35,$55.84,0.63,$22.47,0.25,$6.42,0.07
8,100K to 200K,$5.47,0.04,$80.48,0.58,$134.34,0.98,$62.57,0.45,$18.83,0.14
9,200K+,$1.22,0.00,$89.97,0.30,$90.97,0.32,$42.52,0.15,$15.16,0.05

,,24 or Younger Dollars Outstanding (in billions),24 or Younger Barrowers(#)(in millions),25 to 34 Dollars Outstanding(in billions),25 to 34 Younger Barrowers(#)(in millions),35 to 49 Dollars Outstanding(in billions),35 to 49 Younger Barrowers(#)(in millions),50 to 61 Dollars Outstanding(in billions),50 to 61 Younger Barrowers(#)(in millions),62+ Dollars Outstanding(in billions),62+ Younger Barrowers(#)(in millions)
5,40K to 60K,$10.07,0.21,$75.03,1.54,$79.68,1.62,$29.36,0.60,$8.72,0.18
6,60K to 80K,$3.97,0.06,$56.47,0.82,$76.85,1.11,$27.99,0.40,$7.92,0.11
7,80K to 100K,$2.32,0.03,$30.82,0.35,$55.84,0.63,$22.47,0.25,$6.42,0.07
8,100K to 200K,$5.47,0.04,$80.48,0.58,$134.34,0.98,$62.57,0.45,$18.83,0.14
9,200K+,$1.22,0.00,$89.97,0.30,$90.97,0.32,$42.52,0.15,$15.16,0.05

# Portfolio-by-Location-by-Age.csv

In [6]:
data5_df = pd.read_csv("Portfolio-by-Location-by-Age.csv")
data5_df.rename(columns = {'24 - Younger':'24 or Younger Dollars Outstanding (in billions)',
                              'Unnamed: 2':'24 or Younger Barrowers(#)(in millions)',
                              '25 -34' : '25 to 34 Dollars Outstanding(in billions)',
                              'Unnamed: 4' : '25 to 34 Barrowers(#)(in millions)',
                              '35 - 49' : '35 to 49 Dollars Outstanding(in billions)',
                              'Unnamed: 6' : '35 to 49 Barrowers(#)(in millions)',
                              '50 -61' : '50 to 61 Dollars Outstanding(in billions)',
                              'Unnamed: 8' : '50 to 61 Barrowers(#)(in millions)',
                              '62 - Older' : '62+ Dollars Outstanding(in billions)',
                              'Unnamed: 10' : '62+  Barrowers(#)(in millions)'
                              }, inplace = True)
data5_df = data5_df.drop(data5_df.index[0])
#data5_df = data5_df.drop(data5_df.index[0])
data5_df.head()
#data5_df = data5_df.reset_index()
data5_df.head()

,,24 or Younger Dollars Outstanding (in billions),24 or Younger Barrowers(#)(in millions),25 to 34 Dollars Outstanding(in billions),25 to 34 Barrowers(#)(in millions),35 to 49 Dollars Outstanding(in billions),35 to 49 Barrowers(#)(in millions),50 to 61 Dollars Outstanding(in billions),50 to 61 Barrowers(#)(in millions),62+ Dollars Outstanding(in billions),62+ Barrowers(#)(in millions)
1,Alabama,$1.78,120.7,$7.03,200.4,$8.72,182.0,$3.15,75.2,$0.81,21.6
2,Alaska,$0.12,10.5,$0.76,25.4,$0.86,20.2,$0.33,7.8,$0.10,2.3
3,Arizona,$1.75,133.9,$9.33,292.4,$11.55,263.1,$4.51,112.4,$1.37,34.5
4,Arkansas,$1.00,74.3,$3.99,128.0,$4.86,112.2,$1.62,42.6,$0.41,11.3
5,California,$9.67,700.4,$50.17,"1,450.7",$47.50,"1,023.5",$20.74,489.7,$6.88,167.4

In [ ]:
data5_df = data5_df.drop(data5_df.index[0])
data5_df

In [ ]:
data5_df = data5_df[['index','Location','24 or Younger Dollars Outstanding (in billions)','24 or Younger Barrowers(#)(in millions)','25 to 34 Dollars Outstanding(in billions)','25 to 34 Barrowers(#)(in millions)','35 to 49 Dollars Outstanding(in billions)','35 to 49 Younger Barrowers(#)(in millions)','50 to 61 Dollars Outstanding(in billions)','50 to 61 Barrowers(#)(in millions)','62+ Dollars Outstanding(in billions)','62+ Barrowers(#)(in millions)']]

# Federal Student Loan Portfolio by Borrower Location

In [ ]:
data7_df = pd.read_csv("Portfolio-by-Location.csv")
data7_df.head()