In [ ]:
# Dependencies
import csv
import matplotlib.pyplot as plt
import requests
import pandas as pd

In [ ]:
data_df = pd.read_csv("NationalData.csv")
data_df = data_df.drop('Unnamed: 2', axis=1)
data_df = data_df.dropna()
data_df.tail()

# Data for 4 states: Minnesota,Washington, California, Massachusetts

In [ ]:
data1_df = pd.read_csv("4statesData.csv")
data1_df = data1_df.dropna()
data1_df.head()

# Data for Minnesota

In [ ]:
data3_df = pd.read_csv("MunnesotaData.csv")
data3_df = data3_df.dropna()
data3_df.head()

# Federal Student Loan Portfolio by Borrower Age.csv

In [ ]:
data4_df = pd.read_csv("Portfolio-by-Age-Debt-Size (1).csv") 
data4_df.head()

data4_df.rename(columns = {'24 or Younger':'24 or Younger Dollars Outstanding (in billions)',
                              '24 - Younger':'24 or Younger Barrowers(#)(in millions)',
                              '25 to 34' : '25 to 34 Dollars Outstanding(in billions)',
                              '25 - 34' : '25 to 34 Younger Barrowers(#)(in millions)',
                              '35 to 49' : '35 to 49 Dollars Outstanding(in billions)',
                              '35 - 49' : '35 to 49 Younger Barrowers(#)(in millions)',
                              '50 to 61' : '50 to 61 Dollars Outstanding(in billions)',
                              '50 -61' : '50 to 61 Younger Barrowers(#)(in millions)',
                              '62 and Older' : '62+ Dollars Outstanding(in billions)',
                              '62 - Older' : '62+ Younger Barrowers(#)(in millions)'
                              }, inplace = True)
data4_df = data4_df.drop(data4_df.index[0])
data4_df.tail()

# Portfolio-by-Location-by-Age.csv

In [ ]:
data5_df = pd.read_csv("Portfolio-by-Location-by-Age.csv")
data5_df.rename(columns = {'24 - Younger':'24 or Younger Dollars Outstanding (in billions)',
                              'Unnamed: 2':'24 or Younger Barrowers(#)(in millions)',
                              '25 -34' : '25 to 34 Dollars Outstanding(in billions)',
                              'Unnamed: 4' : '25 to 34 Barrowers(#)(in millions)',
                              '35 - 49' : '35 to 49 Dollars Outstanding(in billions)',
                              'Unnamed: 6' : '35 to 49 Barrowers(#)(in millions)',
                              '50 -61' : '50 to 61 Dollars Outstanding(in billions)',
                              'Unnamed: 8' : '50 to 61 Barrowers(#)(in millions)',
                              '62 - Older' : '62+ Dollars Outstanding(in billions)',
                              'Unnamed: 10' : '62+  Barrowers(#)(in millions)'
                              }, inplace = True)

data5_df = data5_df.drop(data5_df.index[0])
data5_df.head()
data5_df = data5_df.reset_index()
data5_df.head()

In [ ]:
data5_df = data5_df[['index','Location','24 or Younger Dollars Outstanding (in billions)','24 or Younger Barrowers(#)(in millions)','25 to 34 Dollars Outstanding(in billions)','25 to 34 Barrowers(#)(in millions)','35 to 49 Dollars Outstanding(in billions)','35 to 49 Younger Barrowers(#)(in millions)','50 to 61 Dollars Outstanding(in billions)','50 to 61 Barrowers(#)(in millions)','62+ Dollars Outstanding(in billions)','62+ Barrowers(#)(in millions)']]

# Federal Student Loan Portfolio by Borrower Location

In [ ]:
data7_df = pd.read_csv("Portfolio-by-Location.csv")
data7_df.head()